.table {
  width: 800px;

  border: 1px;
  border-collapse: collapse;
  border: 2px solid #000000;
}

th {
  text-align: center; /* Выравнивание по левому краю */
}

td,
th {
  border: 1px solid #000000; /* Параметры границы */
  padding: 4px; /* Поля в ячейках */
}

.title td:not(:first-child) {
  background-color: #bfbfbf;
  text-align: center;
}

.firstTd {
  background-color: #bfbfbf;
}

.total {
  text-align: right;
}

.button-download {
  padding: 16px 52px;
  color: #3f51b5;
  border: 1px solid rgba(63, 81, 181, 0.5);
  background: none;
  margin: 20px 0;
  cursor: pointer;
}
