.wrapper {
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
  margin-top: 20px;
  padding-bottom: 40px;
}

.listItem:not(:last-child) {
  margin-bottom: 20px;
}

.form {
  width: 100%;
}